<%= provide :title, t("supervisors.course.name") %>
<div class="col-md-12">
  <div class="col-md-3 col-md-offset-4"><h1 class="label-name"><%= @course.name %></h1></div>
  <div class="col-md-5">
    <div class="col-md-3 col-md-offset-4 btn-delete">
      <%= link_to t("supervisors.course.delete"), supervisors_course_path(@course),
        method: :delete, data: {confirm: t("confirm")},
        class: "btn btn-danger" %>
    </div>
    
    <div class="btn-delete">
      <%= link_to t("supervisors.course.edit"), edit_supervisors_course_path(@course),
        class: "btn btn-success" %> 
    </div>
  </div>
</div> 

<div class="col-md-12">
  <div class="col-md-6 description">
    <h3>
      <%= t"supervisors.course.description" %>
      <%= @course.description %>
    </h3>
  </div>

  <div class="col-md-3">
    <p>
      <%= t ".start_date" %><span class="label label-info"><%= l @course.start_date, 
        format: :default %></span>
    </p>
    <p>
      <%= t ".end_date" %><span class="label label-info"><%= l @course.end_date, 
        format: :default %></span>
    </p>
  </div>
  
  <div class="col-md-2">
    <h4>
      <%= t"supervisors.course.status" %>
      <%= @course.status %>
    </h4>
    <%= form_for [:supervisors, @course] do |f| %>
      <% if @course.init? %>
        <%= f.hidden_field :status, value: :started %>
        <%= f.submit t(".button_start"), data: {confirm: t("confirm")}, class: "btn-success" %>
      <% elsif @course.started? %>
        <%= f.hidden_field :status, value: :finished %>
        <%= f.submit t(".button_finish"), data: {confirm: t("confirm")}, class: "btn-danger" %>
      <% else %>
        <%= f.hidden_field :status, value: :init %>
        <%= f.submit t(".button_init"), data: {confirm: t("confirm")}, class: "btn-warning" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="col-md-12 course-name">
  <div class="col-md-4">
    <h4><%= t "supervisors.course.subject" %></h4>
    <ul class="subjects">
      <% @supports.subject_of_course.each do |course_subject| %>
        <li><%= link_to course_subject.subject.name, [:supervisors, @course, course_subject] %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <h4><%= t "supervisors.course.trainee" %></h4>
    <ul class="subjects">
      <% @supports.trainee_of_course.each do |trainee| %>
        <li>
          <%= link_to trainee.name, user_path(trainee) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <h4><%= t "supervisors.course.supervisor" %></h4>
    <ul class="subjects">
      <% @supports.supervisor_of_course.each do |supervisor| %>
        <li><%= link_to supervisor.name, user_path(supervisor) %></li>
      <% end %>
    </ul>
  </div>
</div>
