<% provide :title, t(".subject") %>

<div class="col-md-12">
  <div class="col-md-4 col-md-offset-4"><h1><%= @subject.name %></h1></div>
  <div class="col-md-4 button">
    <%= link_to t(".edit"), edit_supervisors_subject_path,
      class: "btn btn-success" %>
    <%= link_to t(".delete"), supervisors_subject_path,
      method: :delete, data: {confirm: t("confirm")}, class: "btn btn-danger" %>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-6">
    <h4><%= t ".description" %></h4>
    <p><%= @subject.description %></p>
  </div>

  <% if @subject.tasks.any? %>
    <h3><span class="label label-success">
      <%= t ".task" %><%= @subject.tasks.count %>
    </span></h3>
    <ol class="tasks">
      <%= render @tasks %>
    </ol>
  <% end %>
</div>
